<main>
  <div class="main-content">
    <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item">
            <button class="navbar-link active" >About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" routerLink="/resume">Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" routerLink="/portfolio">Portfolio</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link"  routerLink="/contact">Contact</button>
          </li>
        </ul>
      </nav>
</div>
</main>
